<nav th:fragment="navbarFragment" class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <div class="container-fluid">
        <a class="navbar-brand" href="/main">SBB</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
		    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
		    </ul>
		    <ul class="navbar-nav ml-auto"> <!-- 추가된 부분 -->
				<li class="nav-item">
				    <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/user/login}">로그인</a>
				    <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/user/logout}">로그아웃</a>
				</li>
				<li class="nav-item">
				    <a class="nav-link" th:href="@{/user/signup}">회원가입</a>
				</li>
		        <li class="nav-item">
		            <input type="text" id="search_kw" class="form-control" th:value="${kw}">
		        </li>
		        <li class="nav-item">
		            <button class="btn btn-outline-secondary" type="button" id="btn_search">찾기</button>
		        </li>
		    </ul>
		</div>
    </div>
</nav>
